In [27]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [28]:
data1=pd.read_csv('/home/rayan/Downloads/archive (1)/2015.csv')
data1.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [29]:
data1.shape

(158, 12)

In [30]:
data1.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [31]:
import pandas as pd
import glob

files = glob.glob("/home/rayan/Downloads/archive (1)/*.csv")

dfs = []
for f in files:
    if "clean_world_happiness" in f:
        continue  
    
    df = pd.read_csv(f)
    
    year = f.split('/')[-1].split('.')[0]
    df['Year'] = int(year)
    
    df.columns = df.columns.str.strip().str.lower()
    
    rename_map = {
        'country': 'country',
        'region': 'region',
        'happiness rank': 'happiness_rank',
        'happiness.score': 'happiness_score',
        'happiness score': 'happiness_score',
        'score': 'happiness_score',
        'economy (gdp per capita)': 'gdp_per_capita',
        'economy..gdp.per.capita.': 'gdp_per_capita',
        'gdp per capita': 'gdp_per_capita',
        'family': 'social_support',
        'health (life expectancy)': 'life_expectancy',
        'health..life.expectancy.': 'life_expectancy',
        'healthy life expectancy': 'life_expectancy',
        'freedom': 'freedom',
        'freedom to make life choices': 'freedom',
        'trust (government corruption)': 'trust_government',
        'perceptions of corruption': 'trust_government',
        'generosity': 'generosity',
        'dystopia residual': 'dystopia_residual'
    }
    df.rename(columns=rename_map, inplace=True)
    
    keep_cols = [
        'country', 'region', 'year', 'happiness_rank', 'happiness_score',
        'gdp_per_capita', 'social_support', 'life_expectancy',
        'freedom', 'trust_government', 'generosity'
    ]
    
    for col in keep_cols:
        if col not in df.columns:
            df[col] = None

    df = df[keep_cols]
    dfs.append(df)

data = pd.concat(dfs, ignore_index=True)
data.fillna(data.mean(numeric_only=True), inplace=True)
data.drop_duplicates(inplace=True)

output_path = "/home/rayan/Downloads/archive (1)/clean_world_happiness.csv"
data.to_csv(output_path, index=False)

data.head()

/tmp/ipykernel_9679/2509036271.py:54: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat(dfs, ignore_index=True)

,country,region,year,happiness_rank,happiness_score,gdp_per_capita,social_support,life_expectancy,freedom,trust_government,generosity
0,Switzerland,Western Europe,2015,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,Western Europe,2015,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,Western Europe,2015,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,Western Europe,2015,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,North America,2015,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [32]:
data.shape

(782, 11)

In [33]:
data.isnull().sum()

country             312
region              467
year                  0
happiness_rank      467
happiness_score       0
gdp_per_capita        0
social_support        0
life_expectancy       0
freedom               0
trust_government      0
generosity            0
dtype: int64

In [34]:
data['country'].fillna('Unknown', inplace=True)
data['region'].fillna('Unknown', inplace=True)
data['happiness_rank'] = pd.to_numeric(data['happiness_rank'], errors='coerce') 
data['happiness_rank'].fillna(0, inplace=True)

/tmp/ipykernel_9679/3706395270.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['country'].fillna('Unknown', inplace=True)
/tmp/ipykernel_9679/3706395270.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['region'].fillna('Unknown', inplace=True)
/tmp/ipykernel_9679/3706395270.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['happiness_rank'].fillna(0, inplace=True)

In [35]:
data.isnull().sum()

country             0
region              0
year                0
happiness_rank      0
happiness_score     0
gdp_per_capita      0
social_support      0
life_expectancy     0
freedom             0
trust_government    0
generosity          0
dtype: int64

In [37]:
data.duplicated().sum()

np.int64(0)

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country           782 non-null    object
 1   region            782 non-null    object
 2   year              782 non-null    int64
 3   happiness_rank    782 non-null    float64
 4   happiness_score   782 non-null    float64
 5   gdp_per_capita    782 non-null    float64
 6   social_support    782 non-null    float64
 7   life_expectancy   782 non-null    float64
 8   freedom           782 non-null    float64
 9   trust_government  782 non-null    float64
 10  generosity        782 non-null    float64
dtypes: float64(8), int64(1), object(2)
memory usage: 67.3+ KB

In [40]:
output_path = "/home/rayan/Downloads/archive (1)/clean_world_happiness.csv"

data.to_csv(output_path, index=False)

print("Cleaned dataset saved at:", output_path)

Cleaned dataset saved at: /home/rayan/Downloads/archive (1)/clean_world_happiness.csv